<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        #textBox {
            width: 540px;
            height: 200px;
            border: 1px #000000 solid;
            padding: 12px;
            overflow: scroll;
        }
    </style>
</head>
<body>
    <input type="file">

    <button>upload</button>

    <div id="textBox" contenteditable="true">
        <p>Lorem ipsum</p>
    </div>

    <script src="/script/upload.js"></script>
</body>
</html>