.veer-offline-productsetting-offcial-catalog-modal {
  width: 1004px !important;
  h3 {
    .catalog-name{
      float: right;
      color: #9b9b9b;
      font-size: 14px;
      font-weight: normal;
    }
  }
  .ant-modal-body{
    padding-bottom: 0px;
  }
  .ant-modal-footer{
    border-top: none;
  }
}