.veer-offline-main-content {
  display: flex;
  justify-content: space-between;
  &-header {


    &-icon {
      width: 20px;
      height: 20px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .ant-layout-header {
    background-color: #fff;
    padding: 0 20px;
    border-top: 1px solid #ecedee;
    border-bottom: 1px solid #ecedee;
    .veer-offline-section-header-rt {
      float: right;

      &-bell {
        margin-right: 20px;
      }

      &-avatar {
        margin: 0 10px;
      }
    }

  }

  .ant-layout-content {
    .veer-offline-section-content-header {
      background-color: #fff;
      min-height: 56px;
      padding: 0 20px;
      line-height: 56px;
      position: relative;

      .ant-btn {
        position: absolute !important;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }

      .ant-breadcrumb {
        min-height: 56px;
        line-height: 56px;
      }

      &-address {
        height: 30px;
        line-height: 10px;
        padding-bottom: 10px;
      }
    }

    .veer-offline-section-content-panel {
      /* min-width: 1050px; */
      padding: 0 20px;
      min-height: calc(100vh - 168px);

      &-nozone {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        text-align: center;

        button {
          display: block;
          margin: 20px auto;
        }
      }
      .panel-zone{
        height: 254px;
      }
    }

  }

  .ant-layout-footer {}

}