.veer-offline-productsetting-guide-panel{
  text-align: center;
  min-height: 100px;
  padding-bottom: 136px;

  h4{
    text-align: left;
  }
  p {
    margin-top: 48px;
    margin-bottom: 24px;
    opacity: .45;
  }

  .ant-btn{
    margin: 0 12px;
  }
}